version: "3.1"

services:
  app:
    container_name: healthcan_app
    image: healthcan/app
    build:
      context: app
      dockerfile: ./Dockerfile
    command: python3 hc_server.py
    volumes:
        - ./app:/app
    working_dir: /app
    ports:
      - 3000:3000
    networks: 
      - container-link
  db:
    container_name: healthcan_db
    build:
      context: db
      dockerfile: ./Dockerfile
    ports:
      - 3307:3306
    volumes:
      - ./db/data:/var/lib/mysql
      - ./db/conf.d:/etc/mysql/conf.d
      - ./db/init.d:/docker-entrypoint-initdb.d
      - ./db/access.cnf:/home/access.cnf
    env_file:
      - ./db/.env
    networks: 
      - container-link

networks:
  default:
    external:
      name: bridge
  container-link:
    name: healthcan_link
